/Relog/nbproject/private/
/Reloj/nbproject/private/
/Reloj/build/
/Reloj/dist/
/PruebaRelojBeans/nbproject/private/
/PruebaRelojBeans/build/
/PanelPrincipal/nbproject/private/
/PanelPrincipal/build/
/PanelPrincipal/dist/