/Relog/nbproject/private/
/Reloj/nbproject/private/
/Reloj/build/
/Reloj/dist/
/PruebaRelojBeans/nbproject/private/
/PruebaRelojBeans/build/
/PanelPrincipal/nbproject/private/
/PanelPrincipal/build/
/PanelPrincipal/dist/
/Cliente/nbproject/private/
/JoseAAcevedoTema5/Tarea5/build/
/JoseAAcevedoTema5/Tarea5/dist/
/Acevedo_Paredes_JoseAntonio_DI07_Tarea/nbproject/private/
/Acevedo_Paredes_JoseAntonio_DI07_Tarea/build/
/Acevedo_Paredes_JoseAntonio_DI07_Tarea/dist/
